$COLOR_BLACK: #000000;
$COLOR_BLACK-TRANSPARENT: rgba(0, 0, 0, 0.5);
$COLOR_WHITE-TRANSPARENT: rgba(255, 255, 255, 0.8);
$COLOR_WHITE: #ffffff;
$COLOR_GRAY: #7f7f7f;
$COLOR_GRAY-LIGHT: #e7e7e7;
$COLOR_GRAY-LIGHT-2: #f9f9f9;
$COLOR_GRAY-LIGHT-3: #cccccc;
$COLOR_GRAY-DARK: #464646;

$COLOR_RED: #e12228;
$COLOR_RED_PALE: rgba(246, 145, 125, 0.3);
$COLOR_PURPLE: #7c2ec8;
$COLOR_ORANGE: #f0b928;
$COLOR_YELLOW: #fffc38;
$COLOR_BLUE: #428bca;
$COLOR_BLUE-dark: #1f497d;
$COLOR_GREEN: #45b744;
$COLOR_GREEN_PALE: rgba(165, 200, 155, 0.3);

$PRIMARY_COLOR: $COLOR_PURPLE;
